<div class="border p-2 text-xs flex flex-col gap-4">
  <div>
    <span>Método de pago:</span>
    <span><%= payment_method.type %></span>
  </div>

  <div>
    <span>Código postal:</span>
    <span><%= payment_method.billing_details.address.postal_code %></span>
  </div>

  <div>
    <span>País:</span>
    <span><%= payment_method.card.country %></span>
  </div>

  <div>
    <span>Tipo de tarjeta:</span>
    <span><%= payment_method.card.display_brand %></span>
  </div>

  <div>
    <span>Últimos 4 digitos:</span>
    <span><%= payment_method.card.last4 %></span>
  </div>

  <div class="flex items-center gap-2">
    <span>Opciones:</span>
    <%= button_to 'Eliminar', customer_payment_method_path(@customer, payment_method.id), method: :delete, class: 'text-xs text-white bg-red-500 py-1 px-2 rounded font-medium', form: { data: { turbo_confirm: 'Estás seguro?' } } %>
  </div>
</div>