<div id="<%= dom_id payment_method %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= payment_method.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number:</strong>
    <%= payment_method.number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Exp month:</strong>
    <%= payment_method.exp_month %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Exp year:</strong>
    <%= payment_method.exp_year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cvc:</strong>
    <%= payment_method.cvc %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= payment_method.customer_id %>
  </p>

</div>
