<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Products" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <div class="flex items-center gap-5">
      <%= link_to "Customers", customers_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "New product", new_product_path, class: "rounded-lg py-3 px-5 bg-orange-600 text-white block font-medium" %>
    </div>
  </div>

  <div id="products" class="min-w-full">
    <% @products[:data].each do |product| %>
      <div>
        <%= product.id %>
      </div>

      <div>
        <%= product.name %>
      </div>

      <%= link_to 'Show', product_path(product.id) %>
    <% end %>
  </div>
</div>
